.form-group {
  position: relative;
}

.form-group > label {
  position: absolute;
  top: -5px;
  left: 12px;
  background-color: white;
  z-index: 1;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.54);
  letter-spacing: 0.15px;
}

.form-group > input {
  border: none;
}
.form-group > select {
  border: none;
}
.archiveBackground {
  background: #fff;
}
.form-control.input {
  height: 50px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.23);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.css-13cymwt-control {
  height: 50px;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.23);
  box-shadow: inset 0px 4px 4px rgba(0, 0, 0, 0.05);
  border-radius: 4px;
}
.archiveBackground .card {
  margin: 13px;
}
.archiveBackground .search-box {
  margin: 13px 5px 20px;
}
.search-box .d-flex {
  column-gap: 23px;
}
.archiveBackground .table > :not(caption) > * > * {
  padding: 15px 15px;
}

.truncate {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

.textwidth {
  width: 40%;
  max-width: 35%;
}

table {
  /* display: block;
  height: 500px;
  overflow-y: scroll; */
}
.disablecolor {
  font-size: 24px;
  color: #333;
  font-weight: bold;
  color: #0000008a;
}
.Edit {
  padding-top: 12px;
}
.Edit .box {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 24px;
  text-align: right;
  letter-spacing: 0.0595px;
  color: #212121;
  padding: 18px;

  border: 1px solid rgba(0, 0, 0, 0.25);
  background: #fff;
  height: 140px;
}
.Edit .box2 {
  border: 4px solid rgba(0, 0, 0, 0.25);
}
.Edit .box2.selected {
  border: 4px solid rgba(21, 101, 192, 0.4);
}
.Edit .card {
  background: none;
}
.Edit .first {
  width: 40%;
  max-width: 40%;
}
.Edit .first input {
  width: 100%;
  max-width: 100%;
}
.Edit .sec {
  width: 22%;
  max-width: 22%;
}
.Edit .sec input {
  width: 100%;
  max-width: 100%;
}
.Edit .group-new {
  width: 14%;
  max-width: 144px;
  display: flex;
  justify-content: space-between;
}
.Edit .select-new {
  background: none;
  border: 0;
  border-bottom: 1px solid;
  max-width: 100%;
  font-weight: 400;
  font-size: 12px;
  line-height: 22px;
  letter-spacing: 0.0817217px;
  color: #696969;
  line-height: 0;
  width: 100%;
}
.Edit .cancel {
  border-radius: 4px;
  background: #e0e0e0;
  box-shadow: 0px 0px 14px 0px rgba(53, 64, 82, 0.05);
  position: relative;
  top: 13px;
}

.Edit .save {
  border-radius: 4px;
  background: #1565c0;
  color: #fff;
  /* Shadows/Contained */
  box-shadow: 0px 0px 14px 0px rgba(53, 64, 82, 0.05);
  position: relative;
  top: 13px;
}

.Edit h4 {
  color: rgba(0, 0, 0, 0.87);
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Nunito;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 23.561px; /* 117.806% */
  letter-spacing: 0.058px;
  text-transform: capitalize;
}
.Edit h6 {
  color: rgba(0, 0, 0, 0.87);
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.561px; /* 147.258% */
  letter-spacing: 0.058px;
}
.btn.btn-white {
  border-radius: 4px;
  background: #fff;

  /* Shadows/Contained */
  box-shadow: 0px 0px 14px 0px rgba(53, 64, 82, 0.05);
  color: rgba(0, 0, 0, 0.87);
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px; /* 137.5% */
  letter-spacing: 0.3px;
  margin-bottom: 20px;
}

.Edit h2 {
  color: rgba(0, 0, 0, 0.87);
  font-feature-settings:
    "clig" off,
    "liga" off;
  font-family: Nunito;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 23.561px; /* 147.258% */
  letter-spacing: 0.058px;
}

.table td:last-child {
  width: 150px;
}
.table .dropdown {
  width: 60px;
  display: inline;
}
.table .dropdown-menu.show {
  min-width: 50px;
  width: 50px;
}
.dropdown-toggle::after {
  display: none !important;
}
select {
  border: none; /* Hide the border */
  outline: none; /* Remove the default outline */
  padding: 5px; /* Add padding to improve appearance */
}

.custom-pagination {
  font-size: 24px;
  color: #333;
  font-weight: bold;
}

/* Styles for the dropdown container */
.form-group.autoComplete {
  position: relative;
}

/* Styles for the input */
.form-group.autoComplete input {
  width: 100%; /* Set input width to 100% of the container */
  padding: 10px;
}

/* Styles for the dropdown list */
.form-group.autoComplete ul {
  list-style: none;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  max-height: 150px;
  overflow-y: auto;
  border: 1px solid #000000;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Styles for each list item in the dropdown */
.form-group.autoComplete li {
  padding: 10px;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Styles for the list items on hover */
.form-group.autoComplete li:hover {
  background-color: #f0f0f0;
}

.box {
  position: relative;
  height: 150px;
  border: 1px solid #ccc;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
}
.adjustable-font {
  max-font-size: 24px;
  transition: font-size 0.3s ease;
}

.delete-icon {
  position: absolute;
  top: 5px;
  right: 5px;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: red;
  padding: 0;
}

.add-icon {
  position: absolute;
  bottom: -3px;
  left: 50%;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: rgb(0, 0, 0);
  padding: 0;
  z-index: 90;
}
.box textarea {
  overflow: hidden;
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  outline: none;
}

/* pagination css */
/* TwoFlexBoxes.css */
.flex-container {
  display: flex;
  align-items: center; /* Center vertically within the entire container */
  margin: 0px 40px;
}

.flex-box-start {
  /* No need for flex property, it will take the necessary space */
}

.flex-box-center {
  flex: 1; /* Takes the remaining space, and centered within the container */
  display: flex;
  justify-content: center;
  align-items: center;
}

.pagination-item {
  cursor: pointer;
  display: none;
}

.pagination-item.disabled {
  opacity: 0.5; /* Adjust the opacity to visually indicate the disabled state */
  color: #212121;
  cursor: not-allowed;
}
.pagination {
  margin: 0;
}
