.form-group {
  position: relative;

  padding: 10px;
  border: 2px solid;
  margin: 10px;
}

.form-group > label {
  position: absolute;
  top: -14px;
  left: 20px;
  background-color: white;
}

.form-group > input {
  border: none;
}
.form-group > select {
  border: none;
}
.archiveBackground {
  background: #eeeeee;
}
